.container{
  width: 100%;
  height: 100vh;
}
.formWrapper > h2{
   text-align: center;
   font-weight: 700;
   font-family: monospace;
   font-size: 30px;
   margin-top: 40px;
   padding: 5px 10px;
   color: darkgray;

}
.formWrapper > p{
    font-family: cursive;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize; 
    margin-top: 10px;
    color: darkgray;

}
.formWrapper{
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    font-size: 25px;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3px 10px;
}
input{
    width: 350px;
    padding: 5px 10px;
    border: none;
    border: 1px solid darkgray;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    background: transparent;
    /* margin-bottom: 10px; */
}
.regisBtn{
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    background: black;
    color: whitesmoke;
    margin-top: 15px;
    border-radius: 5px;

}
.regidBtn:hover{
    background: darkgray;
    color: green;
}